.us {
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    z-index: 99;
    top: 0;

    .maincontent {
        padding-left: 20px;
        position: absolute;
        margin-top: 150px;

    }

    .title {
        @include dbg-p;
    }

    .subtext {
        margin-top: 20px;

        p {
            @include wbg-p;
        }
    }

    .col-xl-4 {
        height: 50vh;
        width: 100%;

    }

    .col-xl-4:first-child {
        background-color: #DFE4E7;
    }

    .u {
        overflow: hidden;
        margin:0;
        padding:0;
        a {
            &:hover {
                .image-text {
                    position: absolute;
                    z-index: 1000;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    bottom:10px;
                    left:0;
                    p {
                        @include dbg-p;
            
                    }
                }
               }
        }
        
        
.outer-image {
    height: 100%;
    width: 100%;
    position: relative;

    img {

        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;

    }

    .image-text {
        display:none;
    }


}
       
    }

    .modal-backdrop,
    .modal-backdrop.fade.in {
        opacity: 0.1;
    }

    .modal-dialog {
        max-width: 55%;
        top: calc(100% - 600px);
    }

    @media (max-width: 1024px) {
        .modal-dialog {
            max-width: 90%;
            margin: 1.75rem auto;
        }
    }

    .modal {

        .modal-content {
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.7) !important;

            p,
            h1,
            h2,
            h3,
            h4,
            h5
            {
                @include dbg-p;
                // background-color: rgba(0, 0, 0, 0);
            }
          
            ul {
                @include dbg-ul;
            }

           
          
            .modal-header {
                border-bottom: none;
            }

            .modal-body {
                padding-bottom: 10vh;
            }
        }

        .close {
            color: white;
            opacity: 1;
        }
    }
}