input {
    position: absolute;
    display: none
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -50px;

    .btn {
        width: 70px;
        height: 70px;
        border-radius: 90px;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        z-index: 999;

    }

    @media only screen and (max-width: 768px) {
        .btn {
            position: unset !important;
        }

        .btn:not(:first-child) {
            margin-top: 10px;
        }
    }

    .material-icons.md-36 {
        font-size: 36px;
        color: rgb(255, 255, 255);
    }

    .btn {
        background: rgb(0, 0, 0);
        font-size: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }

    a {
        color: white;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }

    .btn:first-child {
        background-color: #FADD0B;
        z-index: 3;
    }

    .btn:not(:first-child) {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        z-index: -5;
        -webkit-transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
        transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
        margin-left: 20px;
    }

    .btn:nth-child(2) {
        top: 0px;
        left: -260px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    .btn:nth-child(3) {
        top: 0px;
        left: -150px;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .btn:nth-child(4) {
        top: 0px;
        left: -70px;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .btn:nth-child(5) {
        top: 0px;
        left: 30px;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    .btn:nth-child(6) {
        top: 0px;
        left: 110px;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .btn:nth-child(7) {
        top: 0px;
        left: 180px;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.5s;
    }


    input#toggle:checked~#show-menu .btn:nth-child(2) {
        z-index: 999;
        top: 100px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn:nth-child(3) {
        z-index: 999;
        top: 100px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn:nth-child(4) {
        z-index: 999;
        top: 120px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn:nth-child(5) {
        z-index: 999;
        top: 110px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn:nth-child(6) {
        z-index: 999;
        top: 130px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    input#toggle:checked~#show-menu .btn:nth-child(7) {
        z-index: 999;
        top: 80px;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    .menuBtn,
    .closeBtn {
        position: absolute;
        transition: all 0.3s ease;
    }

    .closeBtn {
        transform: translateY(50px);
        opacity: 0;
    }

    input#toggle:checked~#show-menu .btn .menuBtn {
        transform: translateY(-50px);
        opacity: 0;
    }

    input#toggle:checked~#show-menu .btn .closeBtn {
        transform: translateY(0px);
        opacity: 1;
    }


    .fa-2x {
        font-size: 2.5em;
    }

    .small {
        width: 60px;
        height: 60px;
    }

    .medium {
        width: 75px;
        height: 75px
    }

    .large {
        width: 90px;
        height: 90px;
    }

    .menutext {
        width: 200px;
        position: absolute;
        margin-left: 90px;
        margin-top: 20px;
        color: #FADD0B
    }

    p {
        @include jinky;
        font-size: 2.5em;
        display: inline-block;
    }

}

@media only screen and (max-width: 680px) {

    .menu {
        top: 101%;
        z-index: 999;

        .btn {
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    .flexcontainer {


        a {
            img {
                width: 100%;
            }
        }

        .someM {
            text-align: center;
            float: none;

            .some {
                display: inline-block
            }
        }
    }


}


.navbar {
    width: inherit;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-weight: 400;
    flex-direction: row;
    height: inherit;
    padding: 0;
    background-color: white;

    .navbar-brand {
        height: 6vh;
        width: auto;

        img {
            height: inherit;
            width: inherit;
        }
    }

    .nav-link {
        padding: 0 !important;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-nav-wider {
        width: 100vh;
    }

    li {
        padding-left: 10px !important;
    }

    .navbar-menu a,
    a {
        color: $black;
        font-weight: 500;
        padding: 0;
    }

    .active-page {
        color: $green;
    }

}

.contact-button {
    height: 30px;
    width: auto;
    padding: 0 10px;
    background: $green;
    border: none;
    color: #ffffff;
    font-weight: 500;
}

.nav-icon {
    height: inherit;
    text-align: center;
}

.show {
    display: inline-block !important;
}

.hide {
    display: none !important;
}

#search-button {
    cursor: pointer;
}

#search {
    position: relative;
    display: none;

    input {
        width: 50px;
    }

    .search-cross {
        position: absolute;
        right: 7.5px;
        top: 2.5px;
        display: none;
        border: none;
        background: transparent;

    }
}

.green-search-button {
    display: none;
}

.modal-open {
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 0 !important;
}

/* Large devices (laptops/desktops, 992px and down) */

@media (max-width: 1200px) {

    .navbar {
        position: relative;
        background: #ffffff;
        padding: 0 !important;
        padding-left: 20px;
        padding-right: 20px;

        .navbar-nav {
            position: fixed;
            height: 100vh;
            width: 100%;
            left: 0;
            background: #ffffff;
            align-content: center;
            align-items: center;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .navbar-brand {
            height: 45px;
            width: auto;
            position: absolute;
            z-index: 9999;
        }

        .navbar-toggler {
            line-height: 1;
            background-color: transparent;
            border: 1px solid transparent;
            position: absolute;
            z-index: 9999;
            right: 0;
            text-align: right;


        }
    }



    .nav-icon {
        height: auto;
    }

    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-collapse {
        height: 10vh;
        padding: 0 -50%;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 1024px) {

    nav {
        z-index: 3000;
        margin-top: 0;

    }

    .navbar {

        background: #ffffff;
        border-bottom: 1px solid #a9a9a9;



        .navbar-nav {
            height: 100vh;
            background: #ffffff;
            align-content: center;
            align-items: center;
        }

        .navbar-brand {
            height: 45px;
            width: auto;
        }

        li {
            padding-left: 0 !important;
        }

    }



    .nav-icon {
        height: auto;




        .navbar-toggler:active,
        .navbar-toggler:focus {
            outline: none;
            box-shadow: none;
        }

        .navbar-collapse {
            margin-top: 10px;
        }
    }
}